{
    "parser": "babel-eslint", //parser: 指的是剖析器，如果你有用babel編譯器，就是設定"babel-eslint"
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      "no-console": 0 //關掉console.log()錯誤
    }
}
